<!-- <link rel="stylesheet" href="CSS/post.css"> -->
<div id ="one-post">
    <div id="post-content">
        <div id="post-user">
            <i class="fas fa-user-circle"></i> <%= post.user.name %>
        </div>
        <p>
            <%= post.content %>
        </p>
        <% if(locals.user && locals.user.id==post.user.id) { %>
            <a class="delete-post-button" href="/posts/destroy/<%= post.id %>"><i class="fas fa-trash-alt"></i></a>
        <% } %>
    </div>
    <div class="like-button">
        <a class="toggle-like-button" data-likes="<%= post.like.length %>" href="/like/toggle/?id=<%= post._id%>&type=post">
            <i class=" fas fa-heart"></i> 
            <%= post.like.length %>
        </a>
    </div>
    <div id="post-comments-box">
        <h4>Comments</h4>
        <% if(locals.user) { %>
            <form action="comment/create" id="post-<%= post._id %>-comments-form" method="post">
                <input type="text" name="content" placeholder="Say something.." required>
                <input type="hidden" name="post" value="<%= post.id %>">
                <input type="submit" value="Add comments">
            </form>
        <% } %>
        <div id="comment-box-<%= post._id %>">
            <% for(comment of post.comments) { %>
            <%- include('_comment')%>
            <% } %>
        </div>
    </div>
</div>
